/* 页脚与头图透明 */
#footer {
	background: transparent !important;
}

#page-header {
	background: transparent !important;
}

/* 白天模式遮罩透明 */
#footer::before {
	background: transparent !important;
}

#page-header::before {
	background: transparent !important;
}

/* 夜间模式遮罩透明 */
[data-theme="dark"] #footer::before {
	background: transparent !important;
}

[data-theme="dark"] #page-header::before {
	background: transparent !important;
}

/* 翻页按钮居中 */
#pagination {
	width: 100%;
	margin: auto;
}

/* 一级菜单居中 */
#nav .menus_items {
	position: absolute !important;
	width: fit-content !important;
	left: 45% !important;
	transform: translateX(-35%) !important;
}

/* 子菜单横向展示 */
#nav .menus_items .menus_item:hover .menus_item_child {
	display: flex !important;
}

/* 这里的2是代表导航栏的第2个元素，即有子菜单的元素，可以按自己需求修改 */
.menus_items .menus_item:nth-child(5) .menus_item_child {
	left: -38px;
}

/* 夜间模式菜单栏发光字 */
[data-theme="dark"] #nav .site-page,
[data-theme="dark"] #nav .menus_items .menus_item .menus_item_child li a {
	text-shadow: 0 0 2px rgb(179, 71, 241) !important;
}

/* 手机端适配 */
[data-theme="dark"] #sidebar #sidebar-menus .menus_items .site-page {
	text-shadow: 0 0 2px rgb(255, 170, 127) !important;
}

/* 闪烁变动颜色连续渐变 */
#site-name,
#site-title,
#site-subtitle,
#post-info,
.author-info__name,
.author-info__description {
	transition: text-shadow 1s linear !important;
}

/* 背景宇宙星光  */
#universe {
	display: block;
	position: fixed;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	/* 这个是调置顶的优先级的，-1在文章页下面，背景上面，个人推荐这种 */
	z-index: -1;
}

/* 侧边栏个人信息卡片动态渐变色 */
#aside-content>.card-widget.card-info {
	background: linear-gradient(-45deg,
			#e8d8b9,
			#eccec5,
			#a3e9eb,
			#bdbdf0,
			#eec1ea);
	box-shadow: 0 0 5px rgb(66, 68, 68);
	position: relative;
	background-size: 400% 400%;
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite !important;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

/* 黑夜模式适配 */
[data-theme="dark"] #aside-content>.card-widget.card-info {
	background: #191919ee;
}

/* 个人信息Follow me按钮 */
#aside-content>.card-widget.card-info>#card-info-btn {
	background-color: #aaaaff;
	border-radius: 8px;
}

/* 鼠标样式 */
#cursor {
	position: fixed;
	width: 16px;
	height: 16px;
	/* 这里改变跟随的底色 */
	background: rgb(255, 85, 127);
	;
	border-radius: 8px;
	opacity: 0.75;
	z-index: 10086;
	pointer-events: none;
	transition: 0.2s ease-in-out;
	transition-property: background, opacity, transform;
}

#cursor.hidden {
	opacity: 0;
}

#cursor.hover {
	opacity: 0.1;
	transform: scale(2.5);
	-webkit-transform: scale(2.5);
	-moz-transform: scale(2.5);
	-ms-transform: scale(2.5);
	-o-transform: scale(2.5);
}

#cursor.active {
	opacity: 0.5;
	transform: scale(0.5);
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	-o-transform: scale(0.5);
}

:root {
	--trans-light: rgba(255, 255, 255, 0.75);
	--trans-dark: rgba(25, 25, 25, 0.6);
	--border-style: 1px solid rgb(169, 169, 169);
	--backdrop-filter: blur(5px) saturate(150%);
}

/* 首页文章卡片 */
#recent-posts>.recent-post-item {
	background: var(--trans-light);
	backdrop-filter: var(--backdrop-filter);
	border-radius: 25px;
	border: var(--border-style);
}

/* 首页侧栏卡片 */
#aside-content .card-widget {
	background: var(--trans-light);
	backdrop-filter: var(--backdrop-filter);
	border-radius: 18px;
	border: var(--border-style);
}

/* 文章页、归档页、普通页面 */
div#post,
div#page,
div#archive {
	background: var(--trans-light);
	backdrop-filter: var(--backdrop-filter);
	border: var(--border-style);
	border-radius: 20px;
}

/* 导航栏 */
#page-header.nav-fixed #nav {
	background: rgba(29, 164, 164, 0.8);
	backdrop-filter: rgba(255, 170, 255, 0.7);
}

[data-theme="dark"] #page-header.nav-fixed #nav {
	background: rgba(255, 85, 127, 0.7) !important;
}

/* 夜间模式遮罩 */
[data-theme="dark"] #recent-posts>.recent-post-item,
[data-theme="dark"] #aside-content .card-widget,
[data-theme="dark"] div#post,
[data-theme="dark"] div#archive,
[data-theme="dark"] div#page {
	background: var(--trans-dark);
}


/* 夜间模式页脚页头遮罩透明 */
[data-theme="dark"] #footer::before {
	background: transparent !important;
}

[data-theme="dark"] #page-header::before {
	background: transparent !important;
}

/* 阅读模式 */
.read-mode #aside-content .card-widget {
	background: rgba(158, 204, 171, 0.5) !important;
}

.read-mode div#post {
	background: rgba(158, 204, 171, 0.5) !important;
}

/* 夜间模式下的阅读模式 */
[data-theme="dark"] .read-mode #aside-content .card-widget {
	background: rgba(25, 25, 25, 0.9) !important;
	color: #ffffff;
}

[data-theme="dark"] .read-mode div#post {
	background: rgba(25, 25, 25, 0.9) !important;
	color: #ffffff;
}

@import "//at.alicdn.com/t/c/font_3850435_vutymplhpej.css";
@import "//at.alicdn.com/t/font_2264842_b004iy0kk2b.css";

.iconfont {
	font-family: "iconfont" !important;
	/* 这里可以自定义图标大小 */
	font-size: 3em;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	z-index: 2000;
	position: fixed;
	margin: auto;
	top: 8px;
	left: 0;
	right: 0;
	height: 8px;
	border-radius: 8px;
	width: 7rem;
	background: #eaecf2;
	border: 1px #e3e8f7;
	overflow: hidden
}

.pace-inactive .pace-progress {
	opacity: 0;
	transition: 1s ease-in
}

.pace .pace-progress {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	max-width: 200px;
	position: absolute;
	z-index: 2000;
	display: block;
	top: 0;
	right: 100%;
	height: 100%;
	width: 100%;
	/* linear-gradient(to right, #3494e6, #ec6ead) */
	background: linear-gradient(to right, #43cea2, #3866ca, #ec6ead);
	animation: gradient 3s ease infinite;
	background-size: 200%
}

.pace.pace-inactive {
	opacity: 0;
	transition: 1s;
	top: -8px
}

/* 个人信息卡片背景图 */
[data-theme="light"] #aside-content>.card-widget.card-info {
	background-image: url(https://sourcebucket.s3.ladydaily.com/img/snowflower.webp);
	background-repeat: no-repeat;
	background-attachment: inherit;
	background-size: 100%;
}

[data-theme="dark"] #aside-content>.card-widget.card-info {
	background-image: url(https://sourcebucket.s3.ladydaily.com/img/aurora.webp);
	background-repeat: no-repeat;
	background-attachment: inherit;
	background-size: 100%;
}

/* 头像呼吸灯 */
[data-theme="light"] .avatar-img {
	animation: huxi_light 4s ease-in-out infinite;
}

[data-theme="dark"] .avatar-img {
	animation: huxi_dark 4s ease-in-out infinite;
}

@keyframes huxi_light {
	0% {
		box-shadow: 0px 0px 1px 1px #e9f5fa;
	}

	50% {
		box-shadow: 0px 0px 5px 5px #e9f5fa;
	}

	100% {
		box-shadow: 0px 0px 1px 1px #e9f5fa;
	}
}

@keyframes huxi_dark {
	0% {
		box-shadow: 0px 0px 1px 1px #39c5bb;
	}

	50% {
		box-shadow: 0px 0px 5px 5px #39c5bb;
	}

	100% {
		box-shadow: 0px 0px 1px 1px #39c5bb;
	}
}

/* 标题增强 */
#site-name::before {
	opacity: 0;
	background-color: #39c5bb !important;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	position: absolute;
	top: 0 !important;
	right: 0 !important;
	width: 100%;
	height: 100%;
	content: "\f015";
	box-shadow: 0 0 5px #39c5bb;
	font-family: "Font Awesome 6 Free";
	text-align: center;
	color: white;
	line-height: 34px;
	/*如果有溢出或者垂直不居中的现象微调一下这个参数*/
	font-size: 18px;
	/*根据个人喜好*/
}

#site-name:hover::before {
	opacity: 1;
	scale: 1.03;
}

#site-name {
	position: relative;
	font-size: 24px;
	/*一定要把字体调大点，否则效果惨不忍睹！*/
}

.nav-fixed #nav {
	transform: translateY(58px) !important;
	-webkit-transform: translateY(58px) !important;
	-moz-transform: translateY(58px) !important;
	-ms-transform: translateY(58px) !important;
	-o-transform: translateY(58px) !important;
}

#nav {
	transition: none !important;
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}

/* 滚动条样式 */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background-color: rgba(73, 177, 245, 0.6);
	border-radius: 2em;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(255, 170, 255, 1);
	background-image: -webkit-linear-gradient(45deg,
			rgba(255, 255, 255, 0.4) 25%,
			transparent 25%,
			transparent 50%,
			rgba(255, 255, 255, 0.4) 50%,
			rgba(255, 255, 255, 0.4) 75%,
			transparent 75%,
			transparent);
	border-radius: 2em;
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

::-moz-selection {
	color: #fff;
	background-color: rgba(255, 170, 0, 1);
}

/* 雪花特效 */
[data-theme="light"] #snow {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: -2;
}

/* 雪花黑夜模式不显示 */
[data-theme="dark"] #snow {
	display: none;
}
